*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* #region header */
#site_header{
  background-color: #3161e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo, .login-button{
    display: flex;
    align-items: center;
    padding: 3px;
}

.login-button{
    padding: 0.5rem;
    border-radius: 1.2rem;
    border: transparent;
}

.login-button{
    justify-content: flex-end;

}

.intestation{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.nav-log{
    color: white;
}
/* #endregion header */

/* #region main-first-container */

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-container-first{
    background-color: #3161e0;
    margin-bottom: 0;
    text-align: center;
}

#jumbotron{
    max-width: 100%; 
}

/* #endregion main-first-container*/

/* #region invite-container */
#invite{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invite{
    align-self: center;
    flex-direction: row;
    padding: 3%;
}

.left{

}

.right{
    max-width: 16%;
}

h2{
    line-height: 2rem;
}

#server-organisation{
    margin-top: 10%;
}

/* #endregion invite-container*/


/* #region easy-find-container */
#easy-find{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 3%;
}

.easy-find{
    align-self: center;
    flex-direction: row;
}

/* #endregion .easy-find-container*/

/* #region fandom-container*/
#fandom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
}

.fandom{
    align-self: center;
    flex-direction: row;
}

/* #endregion fandom-container*/

/* #region in-touch-container*/
#in-touch{
    text-align: center;
    background-color: #f6f6f6;
    padding: 3%;
   
}

#content-in-touch{
}

#mac-button{
    background-color: #8ea1e1;
    color: white;
    border-radius: 3rem;
    padding: 1rem;
    margin-top: 3rem;
    font-size: larger;
}

/* #endregion in-touch-container*/
 
/* #region footer*/
#site_footer{
    display: flex;
    background-color: #23272a;
    justify-content: center;
 }

 .box{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    line-height: 2.3rem;
    width: 8%;
 }

 .heading-box{
    color: #697ec7;
 }
 .primary{
    width: 20%;
 }
 
/* #endregion footer*/

 #final-logo-button{
    display: flex;
    background-color: #23272a;
    padding-bottom: 10px;
    padding-top: 5px;
    justify-content: center;
    border-top: 1px solid white;
 }

 .end{
    background-color: ;
    border: none;
 }

