*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,sans-serif;;
}
/* #region header */
#site_header{
  background-color: #3161e0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.href{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: white;
}

.logo, .login-button{
    display: flex;
    align-items: center;
    padding: 3px;
}

.login-button{
    padding: 0.5rem;
    border-radius: 5rem;
    border: transparent;
    background-color: white;
 }


.intestation{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.nav-log{
    color: white;
}
/* #endregion header */

/* #region main-first-container */

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-container-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 8%;
    background-color: #3161e0;
}

h1{
  color: white;
  font-weight: 900; 
  padding-bottom: 3%;
  font-size: 3.5rem; 
}

#under-heading-intestation{
    text-align: center;
    max-width: 30%;
    color: white;
    font-size: 20px;
    line-height: 2rem;
}

.button-download{
    color: black;
    border-radius: 3rem;
    padding: 1rem;
    margin-top: 3rem;
    font-size: larger;
    border: none;
    margin-bottom: 2rem;
}

.browser{
    color: white;
    background-color: #23272a;
}

/* #endregion main-first-container*/

/* #region invite-container */
#invite{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invite{
    align-self: center;
    flex-direction: row;
    padding: 3%;
}

.left{

}

.right{
    max-width: 16%;
}

h2{
    line-height: 2rem;
}

.server-organisation{
    margin-top: 10%;
}

/* #endregion invite-container*/

.wave{
    filter: invert(100%) sepia(1%) saturate(202%) hue-rotate(138deg) brightness(114%) contrast(93%);

}

.secondary{
    transform: rotate(180deg);
    filter: invert(100%) sepia(1%) saturate(202%) hue-rotate(138deg) brightness(114%) contrast(93%);   
}

/* #region easy-find-container */
#easy-find{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 3%;
}

.easy-find{
    align-self: center;
    flex-direction: row;
}

/* #endregion .easy-find-container*/

/* #region fandom-container*/
#fandom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
}

.fandom{
    align-self: center;
    flex-direction: row;
}

/* #endregion fandom-container*/

/* #region in-touch-container*/
#in-touch{
    text-align: center;
    background-color: #f6f6f6;
    padding: 3%;
   
}

#content-in-touch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-latency{
    padding-top: 1rem;
    max-width: 35%;
}

#mac-button{
    background-color: #8ea1e1;
    color: white;
    border-radius: 3rem;
    padding: 1rem;
    margin-top: 1.5rem;
    font-size: larger;
}

/* #endregion in-touch-container*/
 
/* #region footer*/
#site_footer{
    display: flex;
    background-color: #23272a;
    justify-content: center;
 }

 .box{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    line-height: 2.3rem;
    width: 8%;
 }

 .heading-box{
    color: #697ec7;
 }
 .primary{
    width: 20%;
 }
 
/* #endregion footer*/

.bottom-symbol{
    background-color: #23272a;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    align-items: center;
}

#register-button{
    background-color: #697ec7;
    color: white;
    padding: 0.5rem;
    border-radius: 5rem;
    border: transparent;
}
